<launch>
<node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
    <rosparam param="mappings">
      - {old: "velodyne", new: "base_link"}
    </rosparam>
  </node>
<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 base_link velodyne 100" />

<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d /home/anestis/.ros/rviz_cfg_my.rviz" />

<node pkg="rosbag" type="play" name="player" output="screen" args="-r 0.3 --clock /mnt/external/Datasets/husky/2016-11-18-09-51-38.bag" launch-prefix="urxvt -e "/>

<param name="use_sim_time" value="true" />

  <remap from="/kitti_player/hdl64e" to="velodyne_points"/>

	<node pkg="generalp" type="cornerness" name="cornerness" output="screen">
		<param name="K" type="int" value="5"/>
		<param name="reject" type="double" value="0.95"/>
	</node>
	<node pkg="generalp" type="multimap_NDT_fuser" name="multimap_NDT_fuser" output="screen" respawn="false" launch-prefix="urxvt -e ">
		<param name="resolution0" type="double" value="2.50"/>
		<param name="voxel_size0" type="double" value="0.0"/>
		<param name="resolution1" type="double" value="2.50"/>
		<param name="voxel_size1" type="double" value="0.000"/>
		<param name="resolution2" type="double" value="2.50"/>
		<param name="voxel_size2" type="double" value="0.00"/>
		<param name="resolution3" type="double" value="2.50"/>
		<param name="voxel_size3" type="double" value="0.0"/>
		<param name="numIter" type="double" value="100"/>
		<param name="size_z" type="double" value="130"/>
		<param name="size_x" type="double" value="130"/>
		<param name="size_y" type="double" value="130"/>
		<param name="pose_init_r" type="double" value="-1.57079"/>
		<param name="pose_init_p" type="double" value="0"/>
		<param name="pose_init_t" type="double" value="0"/>
		<param name="sensor_range" type="double" value="100.3"/>
		<param name="with_odometry" type="bool" value="false"/>
	</node>


</launch>
